.listElement {
  position: relative;
  border: 2px solid #c4c4c4;
  padding: 5px 10px;
}

.listElement:hover {
  background-color: #c4c4c4;
}

.listElement h4 {
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listElement p {
  margin: 0;
}

.deleteButton {
  display: none;
  position: absolute;
  max-width: 20%;
  max-height: 30px;
  left: 80%;
  top: calc(100% - 30px);
}

.listElement:hover .deleteButton {
  display: block;
}
